
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>
    #loginPopup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        max-width: 400px; /* Adjust the maximum width as needed */
        width: 100%;
        border-radius: 8px; /* Add border-radius for rounded corners */
      }
  
    #loginPopup h2 {
        color: #333; /* Change the heading text color */
      }
  
    #loginPopup input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
    #loginPopup input[type="submit"] {
        background-color: #4CAF50;
        color: #fff; 
        cursor: pointer;
      }
  
    #loginPopup input[type="submit"]:hover {
        background-color: #45a049;
      }
  
    #darkLayer {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 9998;
      }
  </style>
  <div id="darkLayer"></div>

<h1>Login</h1>

<p></p>
<button id="devDbButton">DEV-DB</button>
<p></p>

{% if user.is_authenticated %}
<p>Welcome {{ user.username }}</p>
<button id="logoutButton" type="submit">Log out</button>
{% csrf_token %}
<a href="{% url 'account:friends' %}">friends</a>
<a href="{% url 'account:detail' %}">Detail</a>
<button id="tokenTestButton">TokenTest</button>
<button id="smsAuthButton">2FA-SMS</button>

{% else %}

<a href="#" id="loginLink">Log in</a>
{% include 'login.html' %}
<!-- {% include 'friends.html' %} -->
{% endif %}

<script>
  $(document).ready(function () {
    $('#smsAuthButton').on('click', function() {
      $.ajax({
        type: 'GET',
        url: '{% url "account:smsTest" %}',
        success: function(data) {
          // console.log('2FA-SMS request successful:', data);
          window.location.href = '{% url "account:smsTest" %}';
        },
        error: function(xhr, textStatus, errorThrown) {
          console.error('Error requesting 2FA-SMS:', errorThrown);
        }
      });
    });
    $('#tokenTestButton').on('click', function() {
    var accessToken = sessionStorage.getItem('accessToken');
    if (accessToken) {
      $.ajax({
        type: 'GET',
        url: '{% url "account:check_refresh" %}',
        headers: {
          'Authorization': 'Bearer ' + accessToken
        },
        success: function(data, textStatus, xhr) {
          // console.log('Check refresh successful:', data);
          var new_accessToken = xhr.getResponseHeader('Authorization');
          if (new_accessToken) {
            sessionStorage.setItem('accessToken', new_accessToken);
            // console.log('Update accessToken on Storage');
          }
        },
        error: function(xhr, textStatus, errorThrown) {
          console.error('Error checking refresh:', errorThrown);
        }
      });
    } else {
      console.error('Access token not found in sessionStorage');
    }
  });
    $('#devDbButton').on('click', function () {
        $.ajax({
            type: 'GET',
            url: '{% url "account:print_db" %}',
            success: function (data) {
                // console.log('Print all user data successful:', data);
                window.location.href = '{% url "account:print_db" %}';
            },
            error: function (error) {
                console.error('Error Cannot print user data:', error);
            }
        });
    });

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    $('#logoutButton').on('click', function () {
        $.ajax({
            type: 'POST',
            url: '{% url "account:logout" %}',
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            success: function (data) {
                // console.log('Logout successful:', data);
                // Handle the logout response
                if (data.redirect_url) {
                  window.location.href = data.redirect_url;
                } else {
                    console.error('Redirect URL not provided in response data');
                }
            },
            error: function (error) {
                console.error('Error logging out:', error);
            }
        });
    });
});
</script>
