
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div id="loginPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); z-index: 9999;">
  <span style="float: right; cursor: pointer;" onclick="closeLoginPopup()">&times;</span>
  <h2>LOG IN</h2>

  <form id="loginForm" action="" method="POST" onsubmit="submitLoginForm(); return false;">
    {% csrf_token %}
    <input name="username" type="text">
    <input name="password" type="password">
    <input type="submit" value="Login">
  </form>
  
  <a href="#" id="signupLink">Sign up</a>
  {% include 'signup.html' %}


<script>
  $(document).ready(function () {
    $("#signupLink").click(function () {
        closeLoginPopup();
        console.log('close login popup');
        $("#darkLayer").fadeIn();
        console.log('opacity applied');
        $("#signupPopup").fadeIn();
        console.log('fade in signup popup\n\n');
    });
    $("#loginLink").click(function () {
      console.log('log in link clicked');
      $("#darkLayer").fadeIn();
      console.log('opacity applied');
      $("#loginPopup").fadeIn();
      console.log('fade in login popup\n\n');
    });
  });

  function closeLoginPopup() {
      $("#darkLayer").fadeOut();
      $("#loginPopup").fadeOut();
      console.log('closeLoginPopup() called\n\n');
    }

  function submitLoginForm() {
    $.ajax({
        url: '{% url "account:login" %}',
        type: 'POST',
        data: $('#loginForm').serialize(),
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        success: function (data) {
          console.log('Login successful:', data);
          closeLoginPopup();
          window.location.href = '';

        },
        error: function () {
            console.log('An error occurred while processing your request.');
        }  
    });
  }
</script>
