
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div id="loginPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); z-index: 9999; width: 300px;">
  <span style="float: right; cursor: pointer;" onclick="closeLoginPopup()">&times;</span>
  <h2>LOG IN</h2>

  <a>
  <div id="errorMessage" style="color: red;"></div> 

  <form id="loginForm" action="" method="POST" onsubmit="submitLoginForm(); return false;">
    {% csrf_token %}
    <input name="username" type="text">
    <input name="password" type="password">
    <input type="submit" value="Login">
  </form>

  <a href="#" id="forgotPasswordLink">Forgot Password?</a>

  <div id="oneTimeCodeSection" style="display: none;">
    {% csrf_token %}
    <input name="one_time_code" type="text" placeholder="One-Time Code">
    <button onclick="submitOneTimeCode('login')">Submit Code</button>
  </div>

  <a href="#" id="signupLink">Sign up</a>

  <div id="forgotPasswordModal" style="display: none;">
    <span style="float: right; cursor: pointer;" onclick="closeForgotPasswordModal()">&times;</span>
  
    <form id="forgotPasswordForm">
      {% csrf_token %}
      <input name="username_f" type="text" placeholder="Enter your username" style="width: 200px; margin-right: 5px;">
    </form>
  </div>
  {% include 'signup.html' %}


<script>
  $(document).ready(function () {
    var signupClicked = false;

    $("#forgotPasswordLink").click(function () {
      $("#darkLayer").fadeIn();
      $("#forgotPasswordModal").fadeIn();
    });

    $("#signupLink").click(function (event) {
        event.stopPropagation()
        signupClicked = true;

        // console.log('close login popup');
        $("#darkLayer").fadeIn();
        // console.log('opacity applied');
        $("#signupPopup").fadeIn();
        // console.log('fade in signup popup\n\n');
    });
    $("#loginLink").click(function () {
    // console.log('log in link clicked');
    if (!signupClicked) {
      $("#darkLayer").fadeIn();
      // console.log('opacity applied');
      $("#loginPopup").fadeIn();
      // console.log('fade in login popup\n\n');
    }
    signupClicked = false; // Reset the flag after handling the click
  });
});

  function closeForgotPasswordModal() {
      $("#darkLayer").fadeOut();
      $("#forgotPasswordModal").fadeOut();
    }

  function closeLoginPopup() {
      $("#darkLayer").fadeOut();
      $("#loginPopup").fadeOut();
      // console.log('closeLoginPopup() called\n\n');
    }

    function closeSignupPopup() {
    // $("#darkLayer").fadeOut();
    $("#signupPopup").fadeOut();
    // console.log('closeSignupPopup() called\n\n');
  }
  function submitLoginForm() {
    $.ajax({
      url: '{% url "account:login" %}',
      type: 'POST',
      data: $('#loginForm').serialize(),
      headers: { "X-CSRFToken": getCookie('csrftoken') },
      success: function (data, textStatus, xhr) {
        // console.log('Login successful:', data);
        // Extract access token from Authorization header
        var accessToken = data.access_token;
        // var accessToken = xhr.getResponseHeader('Authorization');
        if (accessToken) {
          // Store the access token in memory
          sessionStorage.setItem('accessToken', accessToken);
          // console.log('Access token stored:', accessToken);
        }
        if (data.requires_2fa) {
        // closeLoginPopup();
        // window.location.href = '';
          $('#loginForm').hide();
          $("#forgotPasswordLink").hide();
          $('#signupLink').hide();
          $('#oneTimeCodeSection').show();
        } else {
          // console.log('2FA not required');
          window.location.href = '';
        }
      },
      error: function (xhr, textStatus, errorThrown) {
        // console.log('An error occurred while processing your request.');
        var response = JSON.parse(xhr.responseText);
        if (response && response.error) {
            displayErrorMessage(response.error);
        } else {
            displayErrorMessage('An error occurred while processing your request.');
        }
      }  
    });
  }
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  function submitOneTimeCode(context) {
    var oneTimeCode = $('input[name="one_time_code"]').val();
    // console.log('submitOneTimeCode submit');
    $.ajax({
      url: '{% url "account:verify_one_time_code" %}',
      type: 'POST',
      data: { 'one_time_code': oneTimeCode, 'context': context },
      headers: { "X-CSRFToken": getCookie('csrftoken') },
      success: function (data) {
        // console.log('One-time code verification successful:', data);
        closeLoginPopup();
        window.location.href = '';
      },
      error: function (xhr, textStatus, errorThrown) {
        // console.log('One-time code verification failed.');
        var response;
        try {
          response = JSON.parse(xhr.responseText);
        } catch (e) {
          response = { error: 'An error occurred while processing your request.' };
        }
        displayErrorMessage(response.error);
      },
      complete: function (xhr, textStatus) {
        // console.log('Request complete. Status:', textStatus);
      }
    });
  }

  function displayErrorMessage(message) {
    $('#errorMessage').text(message).css('color', 'red');
}

</script>
