{% extends 'base.html' %}

{% block content %}
  <h1>Password Reset</h1>
  <p>Enter your new password below:</p>
  
  <form method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    <div class="fieldWrapper">
      {{ form.new_password1.errors }}
      <label for="{{ form.new_password1.id_for_label }}">New password:</label>
      {{ form.new_password1 }}
    </div>
    
    <div class="fieldWrapper">
      {{ form.new_password2.errors }}
      <label for="{{ form.new_password2.id_for_label }}">Confirm new password:</label>
      {{ form.new_password2 }}
    </div>
    
    <button type="submit">Reset Password</button>
  </form>
{% endblock %}
