{% extends 'base.html' %}

{% block content %}
  <h1>Password Reset Confirmation</h1>
  <p>Enter your new password below for {{ user.username }}:</p>

  <form id="resetForm" method="post" action="{% url 'account:password_reset_confirm' uidb64=user.id token=token %}">
    {% csrf_token %}
  
    {{ form.new_password1.errors }}
    <div class="fieldWrapper">
      <label for="{{ form.new_password1.id_for_label }}">New password:</label>
      {{ form.new_password1 }}
    </div>
      
    {{ form.new_password2.errors }}
    <div class="fieldWrapper">
      <label for="{{ form.new_password2.id_for_label }}">Confirm new password:</label>
      {{ form.new_password2 }}
    </div>
    
    <button type="submit">Set New Password</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
    return cookieValue;
    }
    $(document).ready(function () {
    $('#resetForm').submit(function (event) {
      event.preventDefault(); // Prevent default form submission

      $.ajax({
        type: 'POST',
        url: '{% url "account:password_reset_confirm" uidb64=user.id token=token %}',
        data: $(this).serialize(),
        headers: { "X-CSRFToken": getCookie('csrftoken') },
        success: function (data) {
          if (data.success) {
            console.log('password reset form submit success\n\n');
          } else {
            console.log('FAILED: ', data.error_message);
          }
        },
        error: function () {
          console.log('An error occurred while processing your request.');
        }
      });
    });
  });
  </script>
{% endblock %}
