<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password Reset</title>
</head>
<body>

<form id="passwordResetForm" method="POST">
  {% csrf_token %}
  <h1>Password Reset</h1>
  <p>Enter your new password below for {{ user.username }}:</p>
  <input id="new_password1" name="new_password1" type="password" placeholder="New Password">
  <input id="new_password2" name="new_password2" type="password" placeholder="Confirm New Password"> 
  <div id="confirmPasswordError" style="color: red;"></div>
  <span id="error" style="color: red;"></span>
  <button type="submit">Reset Password</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
$(document).ready(function() {
  function checkPasswordMatch() {
    var password1 = $('#new_password1').val();
    var password2 = $('#new_password2').val();

    if (password1 !== password2) {
      $("#confirmPasswordError").text("Passwords do not match");
    } else {
      $("#confirmPasswordError").text("");
    }
  }

  $('#new_password1, #new_password2').on('input', checkPasswordMatch);

  $('#passwordResetForm').submit(function(event) {
    event.preventDefault();
    
    $.ajax({
      type: 'POST',
      url: '{% url "account:password_reset" uidb64=uidb64 token=token %}',
      data: $('#passwordResetForm').serialize(),
      success: function(data) {
        if (data.success) {
          // console.log('Reset success\n\n');
        } else {
          // console.log('Failed', data.error);
          $('#error').text(data.error);
        }
      },
      error: function (data) {
        // console.log('An error occurred while processing your request.');
        $('#error').text(data.responseJSON.error);
      }
    });
  });
});
</script>

</body>
</html>