{% extends 'base.html' %}

{% block content %}
  <h1>Update Profile</h1>
  
  <div id="messages">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  
  <form id="update-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}

    <!-- <p>user{{ user_form.two_factor_method }}</p> -->
    <p>2FA Setting</p>
    <div>
      <input type="checkbox" id="enable-2fa-on" name="two_factor_enabled" value="on">
      <label for="enable-2fa-on">ON</label>
      <input type="checkbox" id="enable-2fa-off" name="two_factor_enabled" value="off">
      <label for="enable-2fa-off">OFF</label>
    </div>
    <div id="2fa-method-container" style="display: none;">
      <label for="two-factor-method">2FA Method:</label>
      <select id="two-factor-method" name="two_factor_method">
        <option value="sms">SMS</option>
        <option value="email">Email</option>
      </select>
    </div>
    <button type="submit">Update Profile</button>
  </form>

  <p><a href="{% url 'account:password_update' %}">Change Password</a></p>

  <script>
    var enable2faOnCheckbox = document.getElementById("enable-2fa-on");
    var enable2faOffCheckbox = document.getElementById("enable-2fa-off");
    var methodContainer = document.getElementById("2fa-method-container");

    enable2faOnCheckbox.addEventListener("change", function(event) {
      methodContainer.style.display = enable2faOnCheckbox.checked ? "block" : "none";
      enable2faOffCheckbox.checked = !enable2faOnCheckbox.checked;
    });

    enable2faOffCheckbox.addEventListener("change", function(event) {
      enable2faOnCheckbox.checked = !enable2faOffCheckbox.checked;
    });

    document.getElementById("update-form").addEventListener("submit", function(event) {
      event.preventDefault();
      
      var form = document.getElementById("update-form");
      var formData = new FormData(form);
      
      // If 2FA is enabled, include the selected method in the form data
      if (enable2faOnCheckbox.checked) {
        var selectedMethod = document.getElementById("two-factor-method").value;
        formData.append('two_factor_method', selectedMethod);
      } else {
        // If 2FA is disabled, set the method to None
        formData.append('two_factor_method', '');
      }
      console.log("formData: ", formData);
      fetch("{% url 'account:profile_update' %}", {
        method: "POST",
        body: formData,
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          document.getElementById("messages").innerHTML = '<ul class="messages"><li class="error">' + data.error + '</li></ul>';
        } else if (data.success) {
          document.getElementById("messages").innerHTML = '<ul class="messages"><li class="success">' + data.success + '</li></ul>';
        }
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById("messages").innerHTML = '<ul class="messages"><li class="error">An error occurred. Please try again later.</li></ul>';
      });
    });
  </script>

{% endblock %}
