<style>
    #signupButton:disabled {
        background-color: grey !important;
        cursor: not-allowed !important;
    }
    #signupButton:enabled {
        background-color: green !important;
        cursor: pointer !important;
    }
    .popup-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        width: 300px;
        max-height: 400px;
        overflow-y: auto;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div id="signupPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); z-index: 9999; width: 300px;">
    <span style="float: right; cursor: pointer;" onclick="closeSignupPopup()">&times;</span>
    <h2>Sign Up</h2>

    <div id="signupPopupError" style="color: red;"></div> 
    
    <form id="signupForm" action="" method="POST" onsubmit="submitSignupForm(); return false;">
        {% csrf_token %}
        <p>ID</p>
        <input name="username" type="text" required>
        <p>PASSWORD
            <span style="color: green; font-size: smaller;">(minimum 8 characters, at least 1 digit, 1 alphabet, different from email and playername)</span>
        </p>
        <input name="password" type="password">
        <p>CONFIRM PASSWORD</p>
        <input name="confirm_password" id="confirmPassword" type="password" oninput="checkPasswordMatch(); required">
        <div id="confirmPasswordError" style="color: red;"></div>
        <p>PLAYERNAME</p>
        <input name="playername" type="text" required>
        <p>EMAIL</p>
        <p>
            <label for="signupEmail"></label>
            <input name="signupEmail" id="signupEmail" type="text" placeholder="example@example.com" style="width: 200px; margin-right: 5px;">
            <button type="button" onclick="sendVerificationCode()">Send Code</button>
        </p>
        <p>
            <label for="access_code"></label>
            <input name="access_code" id="verificationCode" type="text" placeholder="######" style="width: 200px; margin-right: 5px;">
            <button type="button" onclick="verifyCode('signup')">Verify Code</button>
            <span id="successMessage" style="color: green; margin-top: 5px;"></span>
        </p>
        <button onclick="openPrivacyPolicyPopup()">Open Privacy Policy</button>

        <div id="privacyPolicyPopup" class="popup-container">
            <span style="float: right; cursor: pointer;" onclick="closePrivacyPolicyPopup()">&times;</span>
        </div> 
        I agree to the terms and conditions.
        <label for="agreementCheckbox">
            <input type="checkbox" id="agreementCheckbox" required >
        </label><br><br>
        <input type="submit" value="Sign up" id="signupButton" disabled>
        </form>
    </form>


<script>
    $(document).ready(function () {
    updateSignupButtonStatus();
    $("#signupButton").toggleClass("enabled", false);

    $("#signupForm input").on("input", function() {
        updateSignupButtonStatus();
    });
});
    function closeSignupPopup() {
    //   $("#darkLayer").fadeOut();
      $("#signupPopup").fadeOut();
      // console.log('closeSignupPopup() called\n\n');
    }
    function checkPasswordMatch() {
        var password = $("#signupForm input[name='password']").val();
        var confirmPassword = $("#confirmPassword").val();

        if (password !== confirmPassword) {
            $("#confirmPasswordError").text("Passwords do not match");
        } else {
            $("#confirmPasswordError").text("");
        }
    }
    function updateSignupButtonStatus() {
        // console.log('updateSignupButtonStatus() called\n\n');

        var form = $("#signupForm")[0];
        var allFieldsFilled = Array.from(form.elements).every(function(element) {
            return element.checkValidity();
        });

        var password = $("#signupForm input[name='password']").val();
        var confirmPassword = $("#confirmPassword").val();
        var isPasswordMatch = password === confirmPassword;

        var isCodeVerified = $("#successMessage").text() === "Verified successfully";

        if (allFieldsFilled && isPasswordMatch && isCodeVerified) {
            $("#signupButton").prop("disabled", false);
            // console.log('BUTTON: need to be enable\n\n');

        } else {
            $("#signupButton").prop("disabled", true);
        }
        $("#signupButton").toggleClass("enabled", allFieldsFilled && isPasswordMatch && isCodeVerified);
    }
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
    return cookieValue;
    }
    function sendVerificationCode() {
        var email = $("#signupEmail").val();

        $.ajax({
            url: '{% url "account:send_one_time_code" %}',
            type: 'POST',
            data: { 'email': email },
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            success: function (data) {
                if (data.success) {
                    // console.log('Code sent successfully');
                } else {
                    // console.log('Failed to send code:', data.error);
                }
            },
            error: function () {
                // console.log('An error occurred while processing your request.');
            }
        });
    }
    function openPrivacyPolicyPopup() {
        $.get("{% url 'account:privacy_policy' %}", function(data) {
            $("#privacyPolicyPopup").html(data);
            $("#privacyPolicyPopup").fadeIn();
        });
    }
    function closePrivacyPolicyPopup() {
        $("#privacyPolicyPopup").fadeOut();
    }
    window.addEventListener("message", function(event) {
        if (event.data.type === "checkboxStateChange") {
            document.getElementById('agreementCheckbox').checked = event.data.checked;
        }
    }, false);
    function verifyCode(context) {
        var email = $("#signupEmail").val();
        var verificationCode = $("#verificationCode").val();

        $.ajax({
            url: '{% url "account:verify_one_time_code" %}',
            type: 'POST',
            data: { 'email': email, 'one_time_code': verificationCode, 'context': context },
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            success: function (data) {
                if (data.success) {
                    // console.log('Code verified successfully');
                    $("#successMessage").text("Verified successfully");
                    updateSignupButtonStatus();
                    // submitSignupForm();
                } else {
                    // console.log('Failed to verify code:', data.error);
                }
            },
            error: function () {
                // console.log('An error occurred while processing your request.');
            }
        });
    }
    function submitSignupForm() {
        $.ajax({
            url: '{% url "account:signup" %}',
            type: 'POST',
            data: $('#signupForm').serialize(),
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            success: function (data, textStatus, xhr) {
                if (data.success) {
                    // console.log('signed up success\n\n');
                    closeSignupPopup();
                    closeLoginPopup();
                    var accessToken = xhr.getResponseHeader('Authorization');
                    if (accessToken) {
                        // Store the access token in memory
                        sessionStorage.setItem('accessToken', accessToken);
                        // console.log('Access token stored:', accessToken);
                    }
                    window.location.href = '';
                } else {
                    $('#signupPopupError').text(data.error);
                }
            },
            error: function () {
                // Handle error
                // console.log('An error occurred while processing your request.');
            }
        });
    }
</script>
