<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

2FA-SMS Testpage
<a></a>
<div id="errorMessage" style="color: red;"></div>
<form id="gatherPhoneNum">
    {% csrf_token %}
    <div style="position: relative;">
        <input name="phoneNum" type="text" placeholder="(+33)" oninput="formatPhoneNumber()">
        <button type="button" onclick="sendCodeSMS()">Send Verify Code</button>
    </div>
    
</form>
<div id="verifyCodeInput">
    <input name="one_time_code" type="text" placeholder="Enter Verification Code">
    <button type="button" onclick="submitOneTimeCode('2fa')">Submit</button>
</div>

<script>
    function insertString(mainString, insertString, position) {
        return mainString.slice(0, position) + insertString + mainString.slice(position);
    }
    function formatPhoneNumber() {
        var input = $("#gatherPhoneNum input[name='phoneNum']").val();
        var value = input.replace(/\D/g, ''); // Remove non-numeric characters
        var formattedValue = '';
        if (value.length == 1 && value[0] !== '0') {
            value = '0' + value;
        }
        if (value.startsWith('33')) {
            value = value.slice(2);
        }
        // console.log("[1]value: ", value, "formattedValue: ", formattedValue, "value.length: ", value.length )

        formattedValue += value.substr(0, value.length);
        if (value.length > 2) {
            formattedValue = insertString(value, '-', 2);
        }
        if (value.length > 6) {
            formattedValue = insertString(value, '-', 2);
            formattedValue = insertString(formattedValue, '-', 7);
        }
        if (!formattedValue.startsWith('(+33)')) {
            formattedValue = '(+33)' + formattedValue;
        }
        $("#gatherPhoneNum input[name='phoneNum']").val(formattedValue);// Set the formatted value back to the input field
        // console.log("[5]value: ", value, "formattedValue: ", formattedValue, "value.length: ", value.length )

    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
    return cookieValue;
    }

    function sendCodeSMS() {
        var phoneNumber = $("#gatherPhoneNum input[name='phoneNum']").val().replace(/[-()]/g, '');
        phoneNumber = phoneNumber.slice(0, 3) + phoneNumber.slice(4);
        $.ajax({
            type: 'POST',
            url: '{% url "account:updateSandbox" %}',
            data: {phone_number: phoneNumber},
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            success: function(data) {
                // console.log('SMS code sent successfully:', data);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error sending SMS code:', errorThrown);
            }
        });
    }
    
    function submitOneTimeCode(context) {
        var oneTimeCode = $('input[name="one_time_code"]').val();
        // console.log('submitOneTimeCode submit');
        $.ajax({
            url: '{% url "account:verifySandBox" %}',
            type: 'POST',
            data: {phone_number: phoneNumber, otp: oneTimeCod },
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            success: function (data) {
                // console.log('One-time code verification successful:', data);
                window.location.href = '';
            },
            error: function (xhr, textStatus, errorThrown) {
                // console.log('One-time code verification failed.');
                var response;
                try {
                response = JSON.parse(xhr.responseText);
                } catch (e) {
                response = { error: 'An error occurred while processing your request.' };
                }
                displayErrorMessage(response.error);
            },
            complete: function (xhr, textStatus) {
                // console.log('Request complete. Status:', textStatus);
            }
        });
    }
    function displayErrorMessage(message) {
        $('#errorMessage').text(message).css('color', 'red');
    }
</script>
