trenv/
.env
*.env
.vscode/
node_modules/
ws-simple/
trancendence-front-end/
*.pyc
t\ access\ issue
node-proxy-server/
__pycache__
traefik.yml
*.key
react-app/
.DS_Store
srcs/.env
srcs/requirements/front-end/vanilla/js/assets/images/8k*
srcs/requirements/front-end/vanilla/js/assets/images/4k*
srcs/requirements/user_management/project/media/avatars/
env/