.action-button {
    border-radius: 25px; /* Rounded edges */
    background-color: rgb(41, 4, 109); /* Violet background */
    color: white; /* White text */
    padding: 15px 30px; /* Padding around the text */
    cursor: pointer; /* Cursor changes to pointer on hover */
    border: none; /* No border */
    display: inline-block; /* Allows setting margins */
    margin: auto; /* Center the button */
    width: 200px;

    font-size: 1rem;
    font-weight: bold;
}