/* @font-face {
	font-family: 'Space Grotesk';
	src:  url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
	font-weight: 700;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Space Grotesk';
	src:  url('tk-421 path... ');
	font-weight: 700;
	font-style: normal;
} */


/* @import url("public/assets/fonts/Tk421-K7mv7.woff2"); */

:host {
	width: 100%;
	/* height: 300px; */
	/* margin: 10px; */
	/* padding: 10px; */

	font-weight: 300;
	line-height: 76px;
	font-family: "tk-421", "Space Grotesk", sans-serif;
	
	color: white;
	text-align: center;
	/* justify-content: center; */
	/* background: red; */
	/* letter-spacing: 5px;
	word-spacing: 30px; */
}

p {
	font-size: 120px;
	/* font-family: 'tk-421', "Anta", sans-serif;	 */
	/* font-family: "Space Grotesk", sans-serif; */
	margin: 0px;
	padding: 0px;
	/* text-justify: center; */
	/* background: green; */
}