@font-face {
	font-family: "tk-421";
	src: url('../js/assets/fonts/Tk421-K7mv7.otf') format('opentype');
}

:host {
	width: 100%;
	/* height: 300px; */
	/* margin: 10px; */
	/* padding: 10px; */

	font-size: 120px;
	font-family: "tk-421", sans-serif;
	/* font-family: url('../js/assets/fonts/Tk421-K7mv7.otf') format('opentype'); */
	
	line-height: 76px;
	
	color: white;
	text-align: center;
	/* justify-content: center; */
	/* background: red; */
	/* letter-spacing: 5px;
	word-spacing: 30px; */
}

p {
	margin: 0px;
	padding: 0px;
	/* text-justify: center; */
	/* background: green; */
}