.rounds-container {
    display: flex;
    align-items: center; /* Align rounds in the center vertically */
    overflow-x: auto;
    padding: 20px;
    gap: 70px;
    
}

.round {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.matches-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Needed for positioning pseudo-elements */
    gap: 30px;
}

.match-container {
    display: flex;
    justify-content: center; /* Center the match grid horizontally */
    position: relative;
}

.matches-grid-container::before {
    content: '';
    position: absolute;
    left: calc(100% + 35px); /* Adjust so it aligns with the right edge of match-connectors */
    top: 0; /* Start from the top of the first match-connector */
    bottom: 0; /* Extend to the bottom of the last match-connector */
    width: 1px; /* Thickness of the vertical line */
    height: var(--pseudo-before-height, auto);
    background-color: #ffffff; /* Color of the vertical line */
}

.match-container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px; /* Adjust based on gap between rounds */
    width: 20px; /* Width to next round */
    height: 2px;
    background-color: #ffffff;
}

.match-container:not(.winner)::after {
    display: none;
}

.match-connector { /*vertical line from each match */
    position: absolute; /* Position it relative to its parent */
    top: 50%; /* Vertically center */
    right: -25%; /* Align to the right edge of the match-container */
    transform: translateY(-50%); /* Adjust for its own height */
    width: 30px; /* Width of the connector */
    height: 1px; /* Line thickness */
    background-color: #ffffff; /* Line color */
}

.match-grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 120px;
}

.player-flex {
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    height: 23px;
    text-align: center;
}

.matches-grid-container .match-container:last-child .match-connector {
    display: none;
}
