:host {
	margin: 0px;
	padding: 0px;
	/* background: url("../js/assets/images/purpleSpace.jpg"); */
	background-size: contain;
	width: 100%;
	height: 100vh;
	/* font-size: 50px; */

	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

#div1, #div2, #div3, #div4 {
	padding: 10px;
	background: none;

	flex: 1;
	display: flex;
	flex-direction: row;
	/* border: red 1px solid; */
}

#div3 {
	justify-content: center;
}

glass-pannel {
	flex: 1;
}

dark-pannel {
	flex: 1;
}

custom-button {
	flex: 1;
}

input-field {
	/* flex: 1; */
}