/* DynamicTable.css - Comprehensive Styles */
/* @font-face{
    font-family: 'DS-Digital';
    src: url('public/assets/fonts/DS_Digital/DS-DIGI.TTF') format('truetype');
} */

/* @font-face{
    font-family: 'DS-DigitalB';
    src: url('public/assets/fonts/DS_Digital/DS-DIGIB.TTF') format('truetype');
} */

@font-face {
	font-family: 'Space Grotesk';
	src: url('public/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
}

:host{
    font-family: var(--main-font);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    border-radius: 20px;
}

#buttons-bar{
    /* border: solid 3px purple; */
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-bottom: 20px;
}
custom-button {
    margin: 0px;
    padding: 0px 15px;
    font-size: 27px;
}
#mid-space {
    flex: 1;
}
#search-bar {
    padding: 0px 20px;
    height: 50px;
    width: 190px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 22px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
#search-bar::placeholder {
    font-family: "Space Grotesk", sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.4);
}

.table-responsive {
    /* border: 1px red dotted; */
    min-width: 670px;
}

#table-title {
    color: var(--primary-text);
    color: deepskyblue;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

tournament-table {
    display: block;
    border: 1px yellow solid;
}

.table {
    width: 100%;
    font-size: 14px;
    display: table;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border-spacing: 0px;
    overflow: hidden;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.table thead th {
    font-family: "Space Grotesk", sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9);
    vertical-align: middle;

    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 15px 1rem;
    /* border: blue 1px solid; */
}

.table td {
    /* width: 100%; */
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid deeppink; */
    /* white-space: nowrap; */
}

.table tbody tr {
    background-color: rgba(0, 0, 0, 0.3);
}

.table td button {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    color: white;
    width: 80%;
    min-width: 70px;
    border: none;
    border-radius: 12px;
}

.pagination-controls {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: "tk-421", sans-serif;
    font-size: 30px;
    /* background: blue; */
}
#prev-page, #next-page {
    font-family: "tk-421", sans-serif;
    font-size: 30px;
    border-radius: 16px;
    padding: 5px 15px;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all 300ms;
}
#mid-page-controls {
    flex: 1;
}

#prev-page:hover, #next-page:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}