/* css file for login page */
<style>
#loginPopup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	max-width: 400px; /* Adjust the maximum width as needed */
	width: 100%;
	border-radius: 8px; /* Add border-radius for rounded corners */
  }

#loginPopup h2 {
	color: #333; /* Change the heading text color */
  }

#loginPopup input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }

#loginPopup input[type="submit"] {
	background-color: #4CAF50;
	color: #fff; 
	cursor: pointer;
  }

#loginPopup input[type="submit"]:hover {
	background-color: #45a049;
  }

#darkLayer {
	  display: none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0.3);
	  z-index: 9998;
  }
</style>

<style>
#signupButton:disabled {
	background-color: grey !important;
	cursor: not-allowed !important;
}
#signupButton:enabled {
	background-color: green !important;
	cursor: pointer !important;
}
.popup-container {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	width: 300px;
	max-height: 400px;
	overflow-y: auto;
}
</style>