@font-face {
	font-family: "tk-421";
	src: url('js/assets/fonts/Tk421-K7mv7.otf') format('opentype');
}

/* @font-face {
	font-family: "Space-Grotesk";
	src: url('js/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
} */

:host {
	margin: 10px;
	font-family: "tk-421";
	font-size: 40px;
	height: 100%;
	width: 100%;

	color: white;
	text-align: center;
}

#pannelTitle {
	margin: 0px;
	padding: 0px;
}