@font-face {
	font-family: "tk-421";
	src: url('js/assets/fonts/Tk421-K7mv7.otf') format('opentype');
}

/* @font-face {
	font-family: "Space-Grotesk";
	src: url('js/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
} */

:host {
	margin: 10px;
	font-family: sans-serif;
	/* font-size: 40px; */
	height: 100%;
	width: 100%;

	color: white;
	text-align: center;
}

#pannel-title {
	margin: 25px 0 35px 0;
	/* padding: 24px; */
	font-family: "tk-421", sans-serif;
	font-size: 40px;
}