div {
	margin: 10px;
	padding: 10px;

	width: 500px;
	height: 400px;

	color: white;
	text-align: center;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.05);
	/* border-radius: 16px 0px 16px 0px; */
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16px);
	/* -webkit-backdrop-filter: blur(16px); */
	border: 0.5px solid rgba(255, 255, 255, 0.07);
}
