@font-face {
	font-family: "tk-421";
	src: url('js/assets/fonts/Tk421-K7mv7.otf') format('opentype');
}

/* @font-face {
	font-family: "Space-Grotesk";
	src: url('js/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
} */

#container {
	margin: 10px;
	padding: 10px;

	width: 500px;
	height: 200px;

	font-family: "tk-421";
	font-size: 40px;
	/* font-weight: 400; */

	color: white;
	text-align: center;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.1);
	/* border-radius: 20px 0px 20px 0px; */
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16px);
	/* -webkit-backdrop-filter: blur(16px); */
	/* border: 2px solid rgba(0, 217, 255, 0.6); */
}

#pannelTitle {
	margin: 0px;
	padding: 0px;
}