:host {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	/* height: 100vh; */
	background-size: contain;
    display: block;
}

#menu {
	height: 50%;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
}

big-title {
	display: block;
	padding: 50px 0 80px 0;
}

glass-pannel {
    width: 600px;
	margin: 0px 50px;
	cursor: pointer;
	transition: 300ms all;
}

glass-pannel:hover {
	/* background-color: rgba(0, 0, 0, 0.07); */
	color: rgb(0, 217, 255);
	/* transition: 300ms all; */
}
