:host {
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
}

#tab-container {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}
