:host {
	margin: 0px;
	/* padding: 0px; */
	padding-top: 50px;
	background-size: contain;
	width: 100vw;
	/* height: 100vh; */
	/* font-size: 50px; */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

glass-pannel {
	/* display: flex;
	flex-direction: column; */
	/* display: block; */
	display: block;
	width: 400px;
	/* height: 420px; */
	padding: 0px 30px 30px 30px;
}

input-field {
	flex: 1;
	display: block;
}

custom-button {
	flex: 1;
}
