@font-face {
	font-family: "tk-421";
	src: url('js/assets/fonts/Tk421-K7mv7.otf') format('opentype');
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('../js/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
}

:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	/* font-family: "tk-421", sans-serif; */
	font-family: "Space Grotesk", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background: url("../js/assets/images/purpleSpace.jpg");
	background-size: cover;
    /* background-position: center; */
	background-attachment: fixed;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	/* overflow: hidden; Hide scrollbars */
	/* height: 100%; Prevent vertical scrolling */
}

body {
	overflow-x: scroll;
	margin: 0;
}

#info {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	z-index: 1000;
	width: 300px;
	/* height: 20px; */
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }