:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}


h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.navigation {
  margin: auto;
}

#view {
  width: 85%;
  margin: auto;
}


.sign-up-form	input,
.login-form		input {
	display: block; /* Makes each input field take up the full width */
	margin-bottom: 10px; /* Adds some space between the fields */
}

.sign-up-form	button,
.login-form		button {
	display: block; /* Optional: Ensures the button is also on its own line */
}

#form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* Style for the nav container (add a class or ID as appropriate) */
#nav-container {
	display: flex;
	justify-content: center; /* Center children horizontally */
	/* align-items: center; */
	width: 100%; /* Full width */
	position: absolute; /* Position it absolutely relative to its positioned parent */
	top: 0; /* Align to the top */
	left: 0; /* Align to the left */
}

.nav-link {
	margin: 0 0.5em;
	padding: 0.5em 1em;
	border-radius: 8px;
	border: 1px solid transparent;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

.deleteButton {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus, button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
