@font-face {
	font-family: "tk-421";
	src: url('@assets/fonts/Tk421-K7mv7.otf') format('opentype');
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('@assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
}

:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	/* font-family: "tk-421", sans-serif; */
	font-family: "Space Grotesk", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background: url("@images/purpleSpace.jpg");
	background-size: cover;
    /* background-position: center; */
	background-attachment: fixed;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	/* overflow: hidden; */
	height: 100%;
}

body {
	overflow-x: scroll;
	margin: 0;
}

info-popup {
	position: relative;
	z-index: 1000;
	width: 300px;
}

#popupContainer {
	position: fixed;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	width: 300px;
	z-index: 9000;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

space-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
