:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background: url("../js/assets/images/purpleSpace.jpg");
	background-size: cover;
    /* background-position: center; */
	background-attachment: fixed;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	overflow: hidden; /* Hide scrollbars */
	height: 100%; /* Prevent vertical scrolling */
}

body {
	overflow-y: scroll; /* Allow vertical content scrolling without scrollbar */
	/* overflow-x: scroll; Prevent horizontal scrolling */
	margin: 0;
}