.tournament{
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.help{
    display:flex;
    justify-content: flex-end;

}

.action-button{
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}