.tournament{
    display: block;
    /* border: 1px greenyellow solid; */
    margin-left: auto;
    margin-right: auto;
}

#tournament-page-title {
    padding: 0px;
    margin: 40px 0px 20px 0px;
    font-family: "tk-421", sans-serif;
    font-size: 60px;
    text-align: center;
}

.help{
    display:flex;
    justify-content: flex-end;

}

#tournamentTable{
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 670px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    /* background-color: red; */
}

.action-button{
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}