
<h1>
    {{ user.username }}'s profile
</h1>

<p>Username: {{ user.username }}
{% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="Avatar" width="30" height="30">
{% else %}
    <p>No avatar available</p>
{% endif %}
</p>
<p>Intra ID: {{ user.intra_id }}</p>
<p>Playername: {{ user.playername }}</p>

<p>    friends : 
<a href="{% url 'account:friend' %}" style="text-decoration: underline; color: blue; font-size: 14px;">
    {{user.friends.count}}
</a>
</p>
<a href="{% url 'account:profile_update' %}" style="text-decoration: underline; color: blue; font-size: 14px;">Update Profile</a>
