<h1>friends list</h1>

<form method="get" action="{% url 'account:friend' %}">
  <input type="text" name="search" placeholder="Search by username">
  <button type="submit">Search</button>
</form>

<ul>
  {% for friend in friends %}
    <li>{{ friend.username }} / {{friend.playername}}
      {% if friend.avatar %}
        <img src="{{ friend.avatar.url }}" alt="Avatar" width="30" height="30">
      {% else %}
        <p>No avatar available</p>
      {% endif %}
      {% if friend.is_online %}
        <span style="color: green;">On</span>
      {% else %}
        <span style="color: red;">Off</span>
      {% endif %}
      <form method="post" action="{% url 'account:remove_friend' friend.pk %}">
        {% csrf_token %}
        <button type="submit">Remove Friend</button>
      </form>
    </li>
  {% endfor %}
</ul>

{% if search_query %}
  <p>Search Results for "{{ search_query }}":</p>
  <ul>
    {% for result in search_results %}
      <li>{{ result.username }} / {{result.playername}}
        {% if result.avatar %}
          <img src="{{ result.avatar.url }}" alt="Avatar" width="30" height="30">
        {% else %}
          <p>No avatar available</p>
        {% endif %}
        {% if result.is_online %}
          <span style="color: green;">On</span>
        {% else %}
          <span style="color: red;">Off</span>
        {% endif %}
        <form method="post" action="{% url 'account:add_friend' result.pk %}">
          {% csrf_token %}
          <button type="submit">Add Friend</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endif %}