
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>
    #loginPopup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        max-width: 400px; /* Adjust the maximum width as needed */
        width: 100%;
        border-radius: 8px; /* Add border-radius for rounded corners */
      }
  
    #loginPopup h2 {
        color: #333; /* Change the heading text color */
      }
  
    #loginPopup input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
    #loginPopup input[type="submit"] {
        background-color: #4CAF50;
        color: #fff; 
        cursor: pointer;
      }
  
    #loginPopup input[type="submit"]:hover {
        background-color: #45a049;
      }
  
    #darkLayer {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 0, 0, 0.3);
          z-index: 9998;
      }
  </style>
  <div id="darkLayer"></div>

<h1>Login</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }}</p>
<a href="{% url 'account:logout' %}">Log out</a>
<a href="{% url 'account:friend' %}">Friends</a>
<a href="{% url 'account:detail' %}">Detail</a>

{% else %}

<a href="#" id="loginLink">Log in</a>
<a href="#" id="signupLink">Sign up</a>
{% include 'login.html' %}
{% include 'signup.html' %}
{% endif %}


<script>
    $(document).ready(function () {
        $("#loginLink").click(function () {
            $("#darkLayer").fadeIn();
            $("#loginPopup").fadeIn();
        });

        $("#signupLink").click(function () {
            console.log('\n\nSign up link clicked\n\n');
            $("#darkLayer").fadeIn();
            $("#signupPopup").fadeIn();
        });
    });

    function closeLoginPopup() {
        $("#darkLayer").fadeOut();
        $("#loginPopup").fadeOut();
    }

    function closeSignupPopup() {
        $("#darkLayer").fadeOut();
        $("#signupPopup").fadeOut();
  }
</script>
