login page

<br>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<br>

{% if user.is_authenticated %}

  <p>Welcome {{ user.username }}</p>
  <a href="{% url 'account:logout' %}">Log out</a>
  <a href="{% url 'account:friend' %}">Friends</a>
  <a href="{% url 'account:detail' %}">Detail</a>
  

{% else %}
  <form action="" method="POST">
    {% csrf_token %}
    <input name="username" type="text">
    <input name="password" type="password">
    <input type="submit" value="Login">
  </form>
  <a href="#" id="signupLink">Sign up</a>

{% endif %}

{% include 'signup.html' %}
