
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div id="signupPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); z-index: 9999;">
    <span style="float: right; cursor: pointer;" onclick="closeSignupPopup()">&times;</span>
    <h2>Sign Up</h2>
    {% if error_message %}
        <div style="color: red;">{{ error_message }}</div>
    {% endif %}
    <br>
    <form id="signupForm" action="" method="POST" onsubmit="submitSignupForm(); return false;">
        {% csrf_token %}
        <p>ID</p>
        <input name="username" type="text">
        <p>PASSWORD
            <span style="color: green; font-size: smaller;">(minimum 8 characters, at least 1 digit, 1 alphabet, different from intra_id and playername)</span>
        </p>
        <input name="password" type="password">
        <p>PLAYERNAME</p>
        <input name="playername" type="text">
        <p>INTRA_ID</p>
        <input name="intra_id" type="text">
        <input type="submit" value="Sign up">
    </form>

<script>
    $(document).ready(function () {
        $("#signupLink").click(function () {
            console.log('\n\nSign up POPed\n\n');
            $("#darkLayer").fadeIn();
            console.log('opacity applied\n\n');
            $("#signupPopup").fadeIn();
            console.log('popup shown\n\n');
        });
    });


    function submitSignupForm() {
        $.ajax({
            url: '{% url "account:signup" %}',
            type: 'POST',
            data: $('#signupForm').serialize(),
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            success: function (data) {
                if (data.success) {
                    closeSignupPopup();
                } else {
                    $('#signupPopupError').text(data.error_message);
                }
            },
            error: function () {
                // Handle error
                console.log('An error occurred while processing your request.');
            }
        });
    }
</script>