<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Stats Test</title>
</head>
<body>
    <h1>Game Stats Test</h1>

    <form id="gameStatsForm" method="post" data-username="{{ request.user.username }}">
        {% csrf_token %}
        <label for="total_games_played">Total Games Played:</label>
        <input type="number" name="total_games_played" id="total_games_played" required>
        <br>

        <label for="games_won">Games Won:</label>
        <input type="number" name="games_won" id="games_won" required>
        <br>

        <label for="games_lost">Games Lost:</label>
        <input type="number" name="games_lost" id="games_lost" required>
        <br>

        <button type="submit">Update Game Stats</button>
    </form>

    <script>
        document.getElementById("gameStatsForm").addEventListener("submit", function(event) {
            event.preventDefault();

            const username = document.getElementById("gameStatsForm").getAttribute("data-username");

            const totalGamesPlayed = document.getElementById("total_games_played").value;
            const gamesWon = document.getElementById("games_won").value;
            const gamesLost = document.getElementById("games_lost").value;

            fetch(`/gameHistory_microservice/api/game-stats/${username}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
                body: `total_games_played=${totalGamesPlayed}&games_won=${gamesWon}&games_lost=${gamesLost}`,
            })
            .then(response => response.json())
            .then(data => {
                console.log('게임 통계가 성공적으로 업데이트되었습니다:', data);
            })
            .catch(error => {
                console.error('게임 통계 업데이트 중 오류가 발생했습니다:', error);
            });
        });
    </script>
</body>
</html>